<h1>Temperature Readings</h1>

<table>
<thead>
<tr>
<th>Reading ID</th>
<th>Device Location</th>
<th>Reading</th>
<th>Created Date</th>

</tr>
</thead>

<tbody>
<% @readings.each do |reading| %>
<tr>
<td><%= reading.id %></td>
<td><%= reading.device.location.name %> (device id <%= reading.device.id %>)</td>
<td><%= reading.temperature %></td>
<td><%= reading.created_at %></td>

</tr>
<% end %>
</tbody>
</table>

