<p id="notice"><%= notice %></p>

<h2><%= @location.name %></h2>

<p><%= @location.name %></p>
<p><%= @location.id %></p>
<p><%= @location.created_at %></p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Locations', locations_path %>
